<cdk-virtual-scroll-viewport class="view-port"   itemSize="100" >
<img src="assets/img/banner_image2.jpg" alt="" style="width:100%;max-height:50vh;">
<div class="container">
    <div class="grade">
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(1)">GRADE <span class="grade-num">8</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(2)">GRADE <span class="grade-num">9</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(3)">GRADE <span class="grade-num">10</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(4)">GRADE <span class="grade-num">11</span></button>
    </div>
  </div>

</cdk-virtual-scroll-viewport>
<style>
    .view-port{
        height:80vh;
    }
.container{
    padding-top:10px;
    height: 70vh;
    max-width: 1440px;
}
.button-grade{
  border-radius: 16px;
  padding:20px;
  min-width: 18%;
  font-weight: 500;
  margin: 1%;
  min-width: 180px;
}

button:hover {
  color: #ffffff;
  text-decoration: none;
} 

.grade-num{
  font-size:300%; 
  font-weight:800;
  padding:5px;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .container{
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 480px) and (max-width : 595px) {
    .container{
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 595px) and (max-width : 690px) {
    .container{
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 690px) and (max-width : 800px) {
    .container {
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 800px) and (max-width : 1024px) {
    .container {
        padding-left: 5vw;
    }
}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .container {
        padding-left: 10vw;
    }
}@media only screen and (min-width : 1225px) {
    .container {
        padding-left: 20vw;
    }
}
</style>