<div style="background:#fff;color:rgb(96, 252, 96);">

    <h3 mat-dialog-title style="text-align: center" class="package-title">Packages</h3>
    <mat-dialog-content class="mat-dialog-content">
            <div class="row">
                <div class="col-md-12" id="noty-sec" [innerHTML]="noty">
                </div>

                <ng-container *ngFor="let x of packages">
                    <div class="col-lg col-md col-sm col-xs-12 package-item">
                        <h2>{{x.title}}</h2>
                        <p>{{x.description}}</p>
                        <p>Period : {{x.period}} ({{x.duration}} Days)</p>
                        <p>{{x.price}} Points</p>
                        <button (click)="selectPackage(x.id)" class="btn btn-info btn-sm">Select</button>
                        <!--*ngIf="x.price <= points"-->
                    </div>
                </ng-container>
            </div>
    </mat-dialog-content>

</div>
<style>
    mat-dialog-container {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #222 !important;
    }

    .mat-dialog-container {
        background-color: #222 !important;
    }

    .package-item {
        border: 1px solid #000;
        margin: 2px;
        padding: 15px;
        border-radius: 8px;
        color: #000;
        text-align: center;
    }

    .package-title {
        text-align: center;
        margin: 0 0 10px;
        font-size: 22px;
        color: #000;
    }

    .clearly-understood {

        text-align: center;
        padding: 8px;
    }

    .understood {

        text-align: center;
        padding: 8px;
    }

    .confused {

        text-align: center;
        padding: 8px;
    }

    .not-understood {
        text-align: center;
        padding: 8px;
    }

    .custom-row {
        padding-top: 15px;
    }

    .mat-dialog-content {
        overflow: hidden !important;
    }

    .cdk-overlay-pane {
        min-width: 90%;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .col-sm-12 {
            padding-bottom: 10px;
        }
       .package-item h2{
           font-size: 16px !important;
           margin: 0px 0px 4px;
           font-weight: bold;
       }
       .package-item p{
           font-size: 12px;
           margin: 0px;
       }
       .package-item{
           padding: 10px;
       }
       .package-item button{
           margin-top: 4px;
       }
    }

    @media only screen and (min-width: 480px) and (max-width: 595px) {

    }

    @media only screen and (min-width: 595px) and (max-width: 690px) {

    }

    @media only screen and (min-width: 690px) and (max-width: 800px) {

    }

    @media only screen and (min-width: 800px) and (max-width: 1024px) {
        .clearly-understood {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .understood {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .confused {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .not-understood {
            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1224px) {

        .clearly-understood {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .understood {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .confused {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }

        .not-understood {
            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
    }
</style>