.hide-me{
  display: none;
}
footer{
  padding-top: 10px;
}

.point-btn{
  font-size: 13px;
  padding: 0px 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0;
  color: #111;
  background: #2ad322;
  border: 0px;
  font-weight: 700;
}
/*
.mat-sidenav-fixed {
  background-color: black;
  color: green;
}
.mat-list-item{
  color: green;
}
.active{
  color: white;
}*/
