<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar" *ngIf="mobileQuery.matches">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">SchoolX</h1>
    </mat-toolbar>

    <mat-toolbar color="primary" class="nav-main" *ngIf="!(mobileQuery.matches)">
        <span>
            <a routerLinkActive="active"
            routerLink="/home" mat-button style="font-size:160%">SchoolX</a>
             <!--(click)="hide()"-->
        </span>
        <span style="flex: 1 1 auto;" >

            <a mat-button routerLinkActive="active" *ngIf="breadcrumb.id_g>0"
            routerLink="/sub/{{breadcrumb.id_g}}"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_g}}</a>

            <a mat-button routerLinkActive="active" *ngIf="breadcrumb.id_s>0"
            routerLink="/chap/{{breadcrumb.id_s}}" ><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_s}}</a>

            <a mat-button routerLinkActive="active" *ngIf="breadcrumb.id_c>0"
            routerLink="/mod/{{breadcrumb.id_c}}"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_c}}</a>

<!--            <a mat-button routerLinkActive="active" *ngIf="breadcrumb.id_m>0"
            routerLink="/modv/{{breadcrumb.id_m}}"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_m}}</a> -->

        </span>
        <!--<ng-container *ngIf="!router.url.includes('login')|| !router.url.includes('register')">-->
         <span *ngIf="session==null" >
            <button mat-button [matMenuTriggerFor]="userMenu" ><i class="material-icons"></i>Login</button>
        </span>
            <span *ngIf="session!=null">
            <button mat-button [matMenuTriggerFor]="userLogOut" ><i class="material-icons"></i>{{userName|replaceLineBreaks}}</button>
            <button class="point-btn" ><i class="material-icons"></i>points {{points}}</button>

        </span>
        <!--</ng-container>-->


    </mat-toolbar>
  
    <mat-sidenav-container color="primary" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav
                   [fixedInViewport]="true" fixedTopGap="56">
          <!--[mode]="over"-->
        <mat-nav-list>
                <a mat-list-item routerLinkActive="active" (click)="snav.toggle()"
                routerLink="/home"><mat-icon>home</mat-icon> Home</a>

                <a mat-list-item routerLinkActive="active" (click)="snav.toggle()" *ngIf="breadcrumb.id_g>0"
                   routerLink="/sub/{{breadcrumb.id_g}}"><mat-icon>arrow_right</mat-icon>{{breadcrumb.name_g}}</a>

                <a mat-list-item routerLinkActive="active" (click)="snav.toggle()" *ngIf="breadcrumb.id_s>0"
                routerLink="/chap/{{breadcrumb.id_s}}"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_s}}</a>
        
                <a mat-list-item routerLinkActive="active" (click)="snav.toggle()" *ngIf="breadcrumb.id_c>0"
                routerLink="/mod/{{breadcrumb.id_c}}"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_c}}</a>

<!--                <a mat-list-item routerLinkActive="active" *ngIf="breadcrumb.id_m>0"
                routerLink="/modv"><mat-icon>arrow_right</mat-icon> {{breadcrumb.name_m}}</a> -->
            <span *ngIf="session==null" >
            <button mat-button  [matMenuTriggerFor]="userMenu" ><i class="material-icons"></i>Login</button>
        </span>
            <span *ngIf="session!=null">
            <button mat-button  [matMenuTriggerFor]="userLogOut" ><i class="fa fa-user"></i>{{userName|replaceLineBreaks}}</button>
        </span>
               <!-- <a mat-list-item [matMenuTriggerFor]="userMenu" ><mat-icon>face</mat-icon> User Name</a>-->

        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content color="primary">
          <div *ngIf="!mobileQuery.matches" style="margin-top:64px;"></div>
           <div style="height: calc(100% - 0);">
                <router-outlet></router-outlet>
           </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
 

<mat-menu #userMenu="matMenu">
    <a [routerLink]="['/login']" mat-menu-item>Login</a>
    <a [routerLink]="['/register']" mat-menu-item>Register</a>
</mat-menu>
<mat-menu #userLogOut="matMenu">
    <a (click)="logout()"  mat-menu-item>Logout</a>
</mat-menu>

<br>

<footer>
    <span>
        <a href="http://www.schoolx.lk/aboutus/" style="color: green">About us</a>
    </span>     
    |
    <span>
        <a href="http://www.schoolx.lk/tnc/" style="color: green">T&C</a>
    </span> 
    |
    <span>
        <a href="http://www.schoolx.lk/contact/" style="color: green">Contact</a>
    </span>
    |
    <span>
        <a href="https://goo.gl/forms/jBvb2yhEF25WDIJn2" target="_blank" style="color: green">Payments</a>
    </span>

    <span class="pull-right">
        SchoolX &copy; 2018
    </span> 
</footer>
