<cdk-virtual-scroll-viewport  style="height: 80vh"  itemSize="100">
<div class="row" style="width:95%; margin:auto;padding:0px" >
  <div class="col-lg-2 col-md-6 col-sm-12">
    <button  class=" bnt-primary btn-xs btn-stat clearly-understood" (click)="onRatingModuleChanged(1)">
        <i class="material-icons">sentiment_very_satisfied</i> Clearly Understood
    </button>
  </div>

  <div class="col-lg-2 col-md-6 col-sm-12">
    <button class="btn-stat understood bnt-primary btn-xs " (click)="onRatingModuleChanged(2)">
        <i class="material-icons" style="padding-left: 25px">sentiment_satisfied</i>Understood
    </button>
  </div>

  <div class="col-lg-2 col-md-6 col-sm-12">
    <button class="btn-stat confused bnt-primary btn-xs" (click)="onRatingModuleChanged(3)">
        <i class="material-icons" style="padding-left: 33px">sentiment_dissatisfied</i> Confused
    </button>
  </div>

  <div class="col-lg-2 col-md-6 col-sm-12">
    <button class="btn-stat not-understood bnt-primary btn-xs" (click)="onRatingModuleChanged(4)" >
        <i class="material-icons" style="padding-left: 5px">sentiment_very_dissatisfied </i> Didn't Understand
    </button>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">
    <a  class="btn-stat bnt-primary btn-xs" style="text-align: left;padding: 8px; color: #2ad322;
background-color: black;" [matMenuTriggerFor]="tutor" >
      <mat-icon>arrow_drop_down</mat-icon> Select Tutor </a>      
  </div>
</div>

<mat-menu #tutor="matMenu">
  <a mat-menu-item>Tutor 01</a>
  <a mat-menu-item>Tutor 02</a>
  <a mat-menu-item>Tutor 03</a>
  <a mat-menu-item>Tutor 04</a>
</mat-menu>


    <div class="container " >
    <div class="row" >
    <ng-container *cdkVirtualFor="let x of modulevideo">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card-module-video">
          <mat-card color="primary">
            <mat-card-header>
              <mat-card-title>{{x.name}}</mat-card-title>
              <mat-card-subtitle>by {{x.tutor}}</mat-card-subtitle>
            </mat-card-header>
              <!--<img mat-card-image (click)="openDialog(x)" src="https://www.myaone.my/images/no-image-lesson.jpg" alt="Video not available">-->
              <img mat-card-image (click)="openDialog(x)" src="{{(x.image)? x.image : 'http://sx.adrotec.com/oie_twjHAbUBQYYr.jpg'}}" alt="">
              <!--<img mat-card-image (click)="openDialog(x)" src='https://img.youtube.com/vi/{{x.video.split("https://www.youtube.com/watch?v=").pop()}}/default.jpg' alt="Video not available">-->
            <mat-card-content>
              <p>Clearly Understood <span class="pull-right">
                <div class="circle" style="background-color: green;">
                  <span class="width_holder">{{x.cun ? x.cun : 0}}</span>
                  <span class="num">{{x.cun ? x.cun : 0}}</span>
                </div>
                </span>
              </p>
              <div style="height: 4px;"></div>
              <p>Understood <span class="pull-right">
               <div class="circle" style="background-color: #e6e618;" >
                  <span class="width_holder">{{x.und ? x.und : 0}}</span>
                  <span class="num">{{x.und ? x.und : 0}}</span>
                </div>
              </span>
              </p>
              <div style="height: 4px;"></div>
              <p>Confused <span class="pull-right">
               <div class="circle" style="background-color: orange;">
                  <span class="width_holder">{{x.con ? x.con : 0}}</span>
                  <span class="num">{{x.con ? x.con : 0}}</span>
                </div>
              </span>
              </p>
              <div style="height: 4px;"></div>
              <p>Didn't Understand <span class="pull-right">
                <div class="circle" style="background-color: red;">
                  <span class="width_holder">{{x.dun ? x.dun : 0}}</span>
                  <span class="num">{{x.dun ? x.dun : 0}}</span>
                </div>
              </span>
              </p>
            </mat-card-content>
          </mat-card>
        </div> 
      </div>
    </ng-container>
    </div>

</div>

</cdk-virtual-scroll-viewport>

<style>
.card-module-video{
  width: 100%;
  margin: 4% auto;
  display: inline-block;
}

.btn-stat{
  border-radius: 16px;
  min-width: 98%;
  margin: 1% auto;
    display: inline-flex;
    align-items: center;
    height: 35px;
}

button:hover {
  color: #ffffff;
  text-decoration: none;
}


.circle {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  padding: 10px;
  margin-bottom: 0px;
  float: right;
    color: white;
}
.circle::after {
  content: '';
  display: block;
  padding-bottom: 100%;
  height: 0;
  opacity: 0;
}
.num {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.width_holder {
  display: block;
  height: 0;
  overflow: hidden;
}
.clearly-understood{
  color: green;
    text-align: center;
    padding: 8px;
    background-color: grey;
}
  .understood{
    color: yellow;
      text-align: center;
      padding: 8px;
      background-color: grey;
  }
  .confused {
    color: orange;
      text-align: center;
      padding: 8px;
      background-color: grey;
  }
  .not-understood{
      color: red;
      text-align: center;
      padding: 8px;
      background-color: grey;
  }


@media only screen and (min-width : 320px) and (max-width : 480px) {
    .clearly-understood{
        padding-left: 17vw;
    }
    .understood{
        padding-left: 14vw;
    }
    .confused {
        padding-left: 15vw;
    }
    .not-understood{
        padding-left: 16vw;;
    }
}
@media only screen and (min-width : 480px) and (max-width : 595px) {
    .clearly-understood{
        padding-left: 22vw;
    }
    .understood{
        padding-left: 22vw;
    }
    .confused {
        padding-left: 20vw;
    }
    .not-understood{
        padding-left: 20vw;;
    }
}
@media only screen and (min-width : 595px) and (max-width : 690px) {
    .clearly-understood{
        padding-left: 22vw;
    }
    .understood{
        padding-left: 22vw;
    }
    .confused {
        padding-left: 20vw;
    }
    .not-understood{
        padding-left: 20vw;;
    }
}
@media only screen and (min-width : 690px) and (max-width : 800px) {
.row{
    padding-top: 2vh !important;
}
}
@media only screen and (min-width : 800px) and (max-width : 1024px) {

}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .btn-stat{
        font-size: 10px !important;
    }
}
@media only screen and (min-width : 1225px) {
    .btn-stat{
        font-size: 10px !important;
    }
}
</style>