
<div style="background:white;color:rgb(96, 252, 96);">
    <h3 mat-dialog-title>{{modulevideo.name}}</h3>
    <mat-dialog-content class="mat-dialog-content">
        <div class="embed-responsive embed-responsive-16by9" style="width:100%;margin:auto 0;">
            <iframe class="embed-responsive-item" [src]="videoSrc" frameborder="0" allowfullscreen scrolling="no"></iframe>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="row custom-row">
        <span *ngIf="!isRated" class="col-md-3 col-sm-12"><button style="width:100%; background-color: green;color: white"  mat-flat-button (click)="onRatingVideoChanged(4)" class="btn-stat clearly-understood"><mat-icon>sentiment_very_satisfied</mat-icon>  Clearly Understood</button></span>
        <span *ngIf="!isRated" class="col-md-3 col-sm-12"><button style="width:100%; background-color: #e6e618;color: white" mat-flat-button (click)="onRatingVideoChanged(3)" class="btn-stat understood"><mat-icon>sentiment_satisfied</mat-icon>  Understood</button></span>
        <span *ngIf="!isRated" class="col-md-3 col-sm-12"><button style="width:100%; background-color: orange;color: white" mat-flat-button (click)="onRatingVideoChanged(2)" class="btn-stat confused"><mat-icon>sentiment_dissatisfied</mat-icon> Confused</button></span>
        <span *ngIf="!isRated" class="col-md-3 col-sm-12"><button style="width:100%; background-color: red;color: white"  mat-flat-button (click)="onRatingVideoChanged(1)" class="btn-stat not-understood"><mat-icon>sentiment_very_dissatisfied</mat-icon>  Didn't Understand</button></span>
        <span *ngIf="isRated" style="width:100%;margin: auto;">
            <button mat-raised-button color="warn" mat-dialog-close style="width:100%;" >Close</button>
        </span>
    </mat-dialog-actions>
</div>

<style>
    mat-dialog-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .clearly-understood{

        text-align: center;
        padding: 8px;
    }
    .understood{

        text-align: center;
        padding: 8px;
    }
    .confused {

        text-align: center;
        padding: 8px;
    }
    .not-understood{
         text-align: center;
        padding: 8px;
    }
    .custom-row{
        padding-top: 15px;
    }
    .mat-dialog-content{
        overflow: hidden !important;
    }
.cdk-overlay-pane{
    min-width:90%;
}
    @media only screen and (min-width : 320px) and (max-width : 480px) {
        .col-sm-12{padding-bottom: 10px;}
    }
    @media only screen and (min-width : 480px) and (max-width : 595px) {

    }
    @media only screen and (min-width : 595px) and (max-width : 690px) {

    }
    @media only screen and (min-width : 690px) and (max-width : 800px) {

    }
    @media only screen and (min-width : 800px) and (max-width : 1024px) {
        .clearly-understood{

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .understood{

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .confused {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .not-understood{
            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
    }
    @media only screen and (min-width : 1024px) and (max-width : 1224px) {

        .clearly-understood{

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .understood{

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .confused {

            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
        .not-understood{
            text-align: center;
            padding: 8px;
            width: 14vw;
            font-size: 10px;
        }
    }
</style>