<cdk-virtual-scroll-viewport  style="height: 530px"  itemSize="10" >
<div class="container" style="padding-top:10px;">
    <ng-container *cdkVirtualFor="let x of module">
        <div class="container-module">
        <button mat-raised-button color="primary" (click)="onSelect(x)"  class="button-module overme ">
            <i class="fa fa-paperclip" aria-hidden="true"></i> <span style="padding-left:10px;">{{x.name}}</span>
        </button>
    </div>
        </ng-container>
</div>
</cdk-virtual-scroll-viewport>
<style>

.container-module{
  min-width: 18%;
  margin: 1% auto;
  display: block;
}

.button-module{
  border-radius: 16px;
  padding:20px;
  /* background:green; */
  /* color:white; */
  font-weight: 500;
  width: 100%;
  text-align: left;
  left: 0;
    font-size: 14px;
}

button:hover {
  color: #ffffff;
  text-decoration: none;
}
i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #2ad322;
    background-color: #2ad322;
    padding: 0.5em 0.6em;
    color: black;
}

.overme {

    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .container{
        padding-left: 3vw;
        width: 95vw;
    }
    .overme {
        width: 90vw;
    }
}
@media only screen and (min-width : 480px) and (max-width : 595px) {
    .container{
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 595px) and (max-width : 690px) {
    .container{
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 690px) and (max-width : 800px) {
    .container {
        padding-left: 24vw;
    }
}
@media only screen and (min-width : 800px) and (max-width : 1024px) {
}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {

}
</style>