<cdk-virtual-scroll-viewport  style="height: 530px"  itemSize="10" >
<div class="container" style="padding-top:10px;">
    <ng-container *cdkVirtualFor="let x of subjects">
    <div class="container-subject">
        <button mat-raised-button color="primary" (click)="onSelect(x)" class="button-subject">

               <i class="fa fa-briefcase" aria-hidden="true"></i> <span style="padding-left:10px;">{{x.name}}</span>
        </button>
        <br>
    </div>
        </ng-container>
</div>
</cdk-virtual-scroll-viewport>
<style>

.container-subject{
  min-width: 100%;
  margin: 1%;
  display: inline-block;
}

.button-subject{
  border-radius: 16px;
  padding:20px;
  font-weight: 500;
  min-width: 100%;
  text-align: left;
  left: 0;
    font-size: 14px;
}
button:hover {
    color: #ffffff;
    text-decoration: none;
}

i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #2ad322;
    background-color: #2ad322;
    padding: 0.5em 0.6em;
    color: black;
}
@media only screen and (max-width: 400px) {
    body {
        //background-color: lightblue;
    }
}

</style>